nav.navbar-default .navbar-header .navbar-brand {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
}

/* Navbar link hover */
.navbar a:hover {
    color: #1E90FF !important; /* replace with your preferred color */
}

/* Any other text hover */
a:hover, .hover-text:hover {
    color: #1E90FF !important; /* same color for links and highlighted text */
}
