<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">
                    &copy; {{ site.title }} {{ 'now' | date: "%Y" }}
                </span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                        <li class="list-inline-item">
                            <a href="{{ network.url }}" target="_blank" class="btn btn-dark btn-social mx-2" title="{{ network.title }}">
                                {% if network.title == 'x' %}
                                    <i class="fab fa-x-twitter"></i>
                                {% elsif network.title == 'linkedin' %}
                                    <i class="fab fa-linkedin-in"></i>
                                {% elsif network.title == 'youtube' %}
                                    <i class="fab fa-youtube"></i>
                                {% elsif network.title == 'github' %}
                                    <i class="fab fa-github"></i>
                                {% else %}
                                    <i class="fab fa-{{ network.title | downcase }}"></i>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


